.vacuum{
    padding: 0;
}

.friendly{
    margin:0;
}

.standoff{
    margin: 3%;
}

.filling{
    width:90%
}

.occupy{
    width:100%;
    height: 100%;
}

.fill-down{
    height:100%
}

/*
    at-theme := Ancestor Trail Theme
*/
.at-theme{
    background-color: #ffcc66;
    color: #663300;
}

.at-theme-bordered{
    border: 2px solid #663300;
}

.at-theme:hover{
    background-color: #ffcc66;
    color: #000066;
}

.at-theme-2{
    background-color: #6699ff;
    color: #ffffff;
}

.at-left-sidebar{
    border: 2px solid #663300;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;

}

